In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from pprint import pprint
import requests
import statistics
import time
import quandl  #Used for data import
quandl.ApiConfig.api_key = 'vxSYNGB-9owcVsRx_SEF'
pd.set_option('display.max_colwidth', None)
import psycopg2
import io
from sqlalchemy import create_engine

In [2]:
zillow_ind=quandl.get_table('ZILLOW/INDICATORS',paginate=True)
zillow_ind.head()

,indicator_id,indicator,category
None,,,
0,ZSFH,ZHVI Single-Family Homes Time Series ($),Home values
1,ZCON,ZHVI Condo/Co-op Time Series ($),Home values
2,ZATT,ZHVI All Homes- Top Tier Time Series ($),Home values
3,ZALL,"ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",Home values
4,ZABT,ZHVI All Homes- Bottom Tier Time Series ($),Home values

In [3]:
zillow_regions=quandl.get_table('ZILLOW/REGIONS',paginate=True)
zillow_regions.head()

     region_id region_type                                           region
None
0        99999         zip   98847; WA; Wenatchee; Chelan County; Peshastin
1        99998         zip              98846; WA; Okanogan County; Pateros
2        99997         zip  98845; WA; Wenatchee; Douglas County; Palisades
3        99996         zip             98844; WA; Okanogan County; Oroville
4        99995         zip     98843; WA; Wenatchee; Douglas County; Orondo

In [4]:
zillow_data=quandl.get_table('ZILLOW/DATA', region_id='102001',paginate=True)
zillow_data.head()

     indicator_id region_id       date     value
None
0            ZSFH    102001 2021-04-30  280803.0
1            ZSFH    102001 2021-03-31  277043.0
2            ZSFH    102001 2021-02-28  273699.0
3            ZSFH    102001 2021-01-31  269769.0
4            ZSFH    102001 2020-12-31  265679.0

In [5]:
# Connecing to Postgress Database:


def create_tables():
    """ create tables in the PostgreSQL database"""
    
    commands = (
    """
    CREATE TABLE stg_zillow_ind(
    stg_indicator_id CHAR(5),
    stg_indicator VARCHAR(255),
    stg_category VARCHAR(255)
                                )
    """,
    """
    CREATE TABLE stg_zillow_region(
    stg_region_id INTEGER,
    stg_region_type VARCHAR(255),
    stg_region VARCHAR(255)
                                  )
    """,
    """
    CREATE TABLE stg_zillow_data(
    stg_ind_id CHAR(5),
    stg_reg_id INTEGER,
    stg_date DATE,
    stg_value MONEY
                                )
    """,
    """
    CREATE TABLE category(
    category_id SERIAL PRIMARY KEY,
    category_name VARCHAR(255) NOT NULL
                        )
    """,
    """ 
    CREATE TABLE zindicator(
    indicator_id CHAR(5),
    indicator_name VARCHAR(255) NOT NULL,
    category_id SERIAL REFERENCES category(category_id)
                        )
    """,
    """
    CREATE TABLE regtype(
    regtype_id SERIAL PRIMARY KEY,
    regtype_name VARCHAR(255) NOT NULL
                        )
    """,
    """
    CREATE TABLE address(
    address_id SERIAL PRIMARY KEY,
    city VARCHAR(255),
    county VARCHAR(255),
    state CHAR(5),
    zip CHAR(10)
                        )
    """,
    """
    CREATE TABLE region(
    region_id SERIAL PRIMARY KEY,
    metro VARCHAR(255),
    neigh VARCHAR(255)
                        )
    """,
    """
    CREATE TABLE zdata(
    zdata SERIAL PRIMARY KEY,
    zdate DATE,
    value MONEY
                        )
    """)

    conn = None

    
    try:
    
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur = conn.cursor()
        print("cusor")

       
        for command in commands:
            print("dfdsf")
            cur.execute(command)
        print("Tables Created")
        
        cur.close()
        print("Connection Closed")
        
        conn.commit()
        print("Tables Saved/Commited")

    except:
        print("Error Loading")

    
if __name__ == '__main__':
    create_tables()

Database opened successfully
cusor
dfdsf
dfdsf
dfdsf
dfdsf
dfdsf
dfdsf
dfdsf
dfdsf
dfdsf
Tables Created
Connection Closed
Tables Saved/Commited

In [6]:
engine = create_engine('postgresql+psycopg2://postgres:postgresql@127.0.0.1:5432/zillow')

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
zillow_ind.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'stg_zillow_ind', null="") # null values become ''
conn.commit()

In [7]:
engine = create_engine('postgresql+psycopg2://postgres:postgresql@127.0.0.1:5432/zillow')

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
zillow_regions.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'stg_zillow_region', null="") # null values become ''
conn.commit()

In [8]:
engine = create_engine('postgresql+psycopg2://postgres:postgresql@127.0.0.1:5432/zillow')

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
zillow_data.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'stg_zillow_data', null="") # null values become ''
conn.commit()

In [65]:

def stg_create_tables():
    dataframe_list=['zillow_ind','zillow_regions','zillow_data']
    tables_list=['stg_zillow_ind','stg_zillow_region','stg_zillow_data']
    
    engine = create_engine('postgresql+psycopg2://postgres:postgresql@127.0.0.1:5432/zillow')

    conn = engine.raw_connection()
    cur = conn.cursor()
    output = io.StringIO()
    for i in dataframe_list:
        i.to_csv(output, sep='\t', header=False, index=False)
        output.seek(0)
        contents = output.getvalue()
        cur.copy_from(output, tables_list[i], null="")
        print("Staging table created,")
    conn.commit()

if __name__ == '__main__':
    stg_create_tables()

AttributeError: 'str' object has no attribute 'to_csv'

In [14]:
dataframe_list=['zillow_ind','zillow_regions','zillow_data']
tables_list=['stg_zillow_ind','stg_zillow_region','stg_zillow_data']
for i in dataframe_list:
    print (i)
    print(i.liat)

zillow_ind

AttributeError: 'str' object has no attribute 'liat'

### Inserting data in to Categories Table:

In [9]:
print("Gathering input values")
        
cur = conn.cursor()
print("cusor1")

cur.execute("SELECT distinct(stg_category) FROM stg_zillow_ind;")

print("The number of parts: ", cur.rowcount)

cat_records = cur.fetchall()
print(cat_records)

def insert_datatables(cat_records):
    """ query data from the staging tables """
    conn = None
    sql= "INSERT INTO category(category_name) VALUES(%s)"
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor")
           
        cur1.executemany(sql,cat_records)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
    
    insert_datatables(cat_records)

Gathering input values
cusor1
The number of parts:  3
[('Inventory and sales',), ('Rentals',), ('Home values',)]
Database opened successfully
cusor
Executed all records
Tables Saved/Commited
Database Connetion Closed Sucessfully

In [ ]:
stg_indicator_id CHAR(5),
    stg_indicator VARCHAR(255),
    stg_category VARCHAR(255)

### zindicator table:

In [33]:

def insert_datatables(rows):
    """ query data from the staging tables """
    conn = None
    sql= "INSERT INTO zindicator(indicator_id,indicator_name,category_id) VALUES(%s,%s,%s)"
        
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor1")
           
        cur1.executemany(sql,rows)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
        
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")
        cur = conn.cursor()
        cur.execute("select stg_zillow_ind.stg_indicator_id,stg_zillow_ind.stg_indicator, category.category_id from stg_zillow_ind inner join category on stg_zillow_ind.stg_category = category.category_name;")
        rows = cur.fetchall()
        print("The number of parts: ", cur.rowcount)
        for row in rows:
            print(row)

        cur.close()
        insert_datatables(rows)

Database opened successfully
The number of parts:  56
('CRAM ', 'Share of Listings With a Price Cut (Raw, All Homes, Monthly)', 1)
('CRAW ', 'Share of Listings With a Price Cut (Raw, All Homes, Weekly View)', 1)
('CRSM ', 'Share of Listings With a Price Cut (Raw, SFR Only, Monthly)', 1)
('CRSW ', 'Share of Listings With a Price Cut (Raw, SFR Only, Weekly View)', 1)
('CSAM ', 'Share of Listings With a Price Cut (Smooth, All Homes, Monthly)', 1)
('CSAW ', 'Share of Listings With a Price Cut (Smooth, All Homes, Weekly View)', 1)
('CSSM ', 'Share of Listings With a Price Cut (Smooth, SFR Only, Monthly)', 1)
('CSSW ', 'Share of Listings With a Price Cut (Smooth, SFR Only, Weekly View)', 1)
('IRAM ', 'For-Sale Inventory (Raw, All Homes, Monthly)', 1)
('IRAW ', 'For-Sale Inventory (Raw, All Homes, Weekly View)', 1)
('IRSM ', 'For-sale Inventory (Raw, SFR only, Monthly)', 1)
('IRSW ', 'For-sale Inventory (Raw, SFR only, Weekly View)', 1)
('ISAM ', 'For-Sale Inventory (Smooth, All Homes, Monthly)', 1)
('ISAW ', 'For-Sale Inventory (Smooth, All Homes, Weekly View)', 1)
('ISSM ', 'For-Sale Inventory (Smooth, SFR only, Monthly)', 1)
('ISSW ', 'For-Sale Inventory (Smooth, SFR only, Weekly View)', 1)
('LRAM ', 'Median List Price (Raw, All Homes, Monthly)', 1)
('LRAW ', 'Median List Price (Raw, All Homes, Weekly View)', 1)
('LRSM ', 'Median List Price (Raw, SFR Only, Monthly)', 1)
('LRSW ', 'Median List Price (Raw, SFR Only, Weekly View)', 1)
('LSAM ', 'Median List Price (Smooth, All Homes, Monthly)', 1)
('LSAW ', 'Median List Price (Smooth, All Homes, Weekly View)', 1)
('LSSM ', 'Median List Price (Smooth, SFR Only, Monthly)', 1)
('LSSW ', 'Median List Price (Smooth, SFR Only, Weekly View)', 1)
('MRAM ', 'Mean Days to Pending (Raw, All Homes, Monthly)', 1)
('MRAW ', 'Mean Days to Pending (Raw, All Homes, Weekly View) ', 1)
('MSAM ', 'Mean Days to Pending (Smooth, All Homes, Monthly)', 1)
('MSAW ', 'Mean Days to Pending (Smooth, All Homes, Weekly View)', 1)
('NRAM ', 'Median Days to Pending (Raw, All Homes, Monthly)', 1)
('NRAW ', 'Median Days to Pending (Raw, All Homes, Weekly View)', 1)
('NSAM ', 'Median Days to Pending (Smooth, All Homes, Monthly)', 1)
('NSAW ', 'Median Days to Pending (Smooth, All Homes, Weekly View)', 1)
('SAAM ', 'Median Sale Price (Smooth & Seasonally Adjusted, All Homes, Monthly)', 1)
('SAAW ', 'Median Sale Price (Smooth & Seasonally Adjusted, All Homes, Weekly View)', 1)
('SASM ', 'Median Sale Price (Smooth & Seasonally Adjusted, SFR only, Monthly)', 1)
('SASW ', 'Median Sale Price (Smooth & Seasonally Adjusted, SFR only, Weekly View)', 1)
('SRAM ', 'Median Sale Price (Raw, All Homes, Monthly)', 1)
('SRAW ', 'Median Sale Price (Raw, All Homes, Weekly View)', 1)
('SRSM ', 'Median Sale Price (Raw, SFR only, Monthly)', 1)
('SRSW ', 'Median Sale Price (Raw, SFR only, Weekly View)', 1)
('SSAM ', 'Median Sale Price (Smooth, All Homes, Monthly)', 1)
('SSAW ', 'Median Sale Price (Smooth, All Homes, Weekly View)', 1)
('SSSM ', 'Median Sale Price (Smooth, SFR only, Monthly)', 1)
('SSSW ', 'Median Sale Price (Smooth, SFR only, Weekly View)', 1)
('RSNA ', 'ZORI (Smoothed): All Homes Plus Multifamily Time Series ($)', 2)
('RSSA ', 'ZORI (Smoothed, Seasonally Adjusted): All Homes Plus Multifamily Time Series ($)', 2)
('Z1BR ', 'ZHVI 1-Bedroom Time Series ($)', 3)
('Z2BR ', 'ZHVI 2-Bedroom Time Series ($)', 3)
('Z3BR ', 'ZHVI 3-Bedroom Time Series ($)', 3)
('Z4BR ', 'ZHVI 4-Bedroom Time Series ($)', 3)
('Z5BR ', 'ZHVI 5+ Bedroom Time Series ($)', 3)
('ZABT ', 'ZHVI All Homes- Bottom Tier Time Series ($)', 3)
('ZALL ', 'ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)', 3)
('ZATT ', 'ZHVI All Homes- Top Tier Time Series ($)', 3)
('ZCON ', 'ZHVI Condo/Co-op Time Series ($)', 3)
('ZSFH ', 'ZHVI Single-Family Homes Time Series ($)', 3)
Database opened successfully
cusor1
invalid input syntax for type integer: "CRAM "
LINE 1: ...r(indicator_id,indicator_name,category_id) VALUES('CRAM ','S...
                                                             ^

### Query 1:

In [107]:
def query1():
    """ query data from the staging tables """
    conn = None
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur = conn.cursor()
        print("cusor")
    
        cur.execute("select * from stg_zillow_ind where stg_indicator_id='ZSFH';")
        
        print("1")
        conn.commit()
        print("Tables Saved/Commited")
        
        print("The number of parts: ", cur.rowcount)
        
        
        cat_records = cur.fetchall()
        
        
        for row in cat_records:
            print("stg_indicator_id = ", row[0], )
            print("stg_indicator = ", row[1])
            print("stg_category =",row[2])
            
        
        print("2")

        cur1 = conn.cursor()
        print("cusor")
        cur1.execute("select * from stg_zillow_ind;")
        
        conn.commit()
        print("Tables Saved/Commited")
        
        print("The number of parts: ", cur1.rowcount)
        
        
        cat_records = cur1.fetchall()
        
        
        for row in cat_records:
            print("stg_indicator_id = ", row[0], )
            print("stg_indicator = ", row[1])
            print("stg_category =",row[2])

        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

if __name__ == '__main__':
    query1()

Database opened successfully
cusor
1
Tables Saved/Commited
The number of parts:  1
stg_indicator_id =  ZSFH
stg_indicator =  ZHVI Single-Family Homes Time Series ($)
stg_category = Home values
2
cusor
Tables Saved/Commited
The number of parts:  56
stg_indicator_id =  ZSFH
stg_indicator =  ZHVI Single-Family Homes Time Series ($)
stg_category = Home values
stg_indicator_id =  ZCON
stg_indicator =  ZHVI Condo/Co-op Time Series ($)
stg_category = Home values
stg_indicator_id =  ZATT
stg_indicator =  ZHVI All Homes- Top Tier Time Series ($)
stg_category = Home values
stg_indicator_id =  ZALL
stg_indicator =  ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)
stg_category = Home values
stg_indicator_id =  ZABT
stg_indicator =  ZHVI All Homes- Bottom Tier Time Series ($)
stg_category = Home values
stg_indicator_id =  Z5BR
stg_indicator =  ZHVI 5+ Bedroom Time Series ($)
stg_category = Home values
stg_indicator_id =  Z4BR
stg_indicator =  ZHVI 4-Bedroom Time Series ($)
stg_category = Home values
stg_indicator_id =  Z3BR
stg_indicator =  ZHVI 3-Bedroom Time Series ($)
stg_category = Home values
stg_indicator_id =  Z2BR
stg_indicator =  ZHVI 2-Bedroom Time Series ($)
stg_category = Home values
stg_indicator_id =  Z1BR
stg_indicator =  ZHVI 1-Bedroom Time Series ($)
stg_category = Home values
stg_indicator_id =  SSSW
stg_indicator =  Median Sale Price (Smooth, SFR only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SSSM
stg_indicator =  Median Sale Price (Smooth, SFR only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  SSAW
stg_indicator =  Median Sale Price (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SSAM
stg_indicator =  Median Sale Price (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  SRSW
stg_indicator =  Median Sale Price (Raw, SFR only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SRSM
stg_indicator =  Median Sale Price (Raw, SFR only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  SRAW
stg_indicator =  Median Sale Price (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SRAM
stg_indicator =  Median Sale Price (Raw, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  SASW
stg_indicator =  Median Sale Price (Smooth & Seasonally Adjusted, SFR only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SASM
stg_indicator =  Median Sale Price (Smooth & Seasonally Adjusted, SFR only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  SAAW
stg_indicator =  Median Sale Price (Smooth & Seasonally Adjusted, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SAAM
stg_indicator =  Median Sale Price (Smooth & Seasonally Adjusted, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  RSSA
stg_indicator =  ZORI (Smoothed, Seasonally Adjusted): All Homes Plus Multifamily Time Series ($)
stg_category = Rentals
stg_indicator_id =  RSNA
stg_indicator =  ZORI (Smoothed): All Homes Plus Multifamily Time Series ($)
stg_category = Rentals
stg_indicator_id =  NSAW
stg_indicator =  Median Days to Pending (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  NSAM
stg_indicator =  Median Days to Pending (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  NRAW
stg_indicator =  Median Days to Pending (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  NRAM
stg_indicator =  Median Days to Pending (Raw, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  MSAW
stg_indicator =  Mean Days to Pending (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  MSAM
stg_indicator =  Mean Days to Pending (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  MRAW
stg_indicator =  Mean Days to Pending (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  MRAM
stg_indicator =  Mean Days to Pending (Raw, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  LSSW
stg_indicator =  Median List Price (Smooth, SFR Only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  LSSM
stg_indicator =  Median List Price (Smooth, SFR Only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  LSAW
stg_indicator =  Median List Price (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  LSAM
stg_indicator =  Median List Price (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  LRSW
stg_indicator =  Median List Price (Raw, SFR Only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  LRSM
stg_indicator =  Median List Price (Raw, SFR Only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  LRAW
stg_indicator =  Median List Price (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  LRAM
stg_indicator =  Median List Price (Raw, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  ISSW
stg_indicator =  For-Sale Inventory (Smooth, SFR only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  ISSM
stg_indicator =  For-Sale Inventory (Smooth, SFR only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  ISAW
stg_indicator =  For-Sale Inventory (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  ISAM
stg_indicator =  For-Sale Inventory (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  IRSW
stg_indicator =  For-sale Inventory (Raw, SFR only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  IRSM
stg_indicator =  For-sale Inventory (Raw, SFR only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  IRAW
stg_indicator =  For-Sale Inventory (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  IRAM
stg_indicator =  For-Sale Inventory (Raw, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  CSSW
stg_indicator =  Share of Listings With a Price Cut (Smooth, SFR Only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  CSSM
stg_indicator =  Share of Listings With a Price Cut (Smooth, SFR Only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  CSAW
stg_indicator =  Share of Listings With a Price Cut (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  CSAM
stg_indicator =  Share of Listings With a Price Cut (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  CRSW
stg_indicator =  Share of Listings With a Price Cut (Raw, SFR Only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  CRSM
stg_indicator =  Share of Listings With a Price Cut (Raw, SFR Only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  CRAW
stg_indicator =  Share of Listings With a Price Cut (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  CRAM
stg_indicator =  Share of Listings With a Price Cut (Raw, All Homes, Monthly)
stg_category = Inventory and sales
Database Connetion Closed Sucessfully

### Query 2:

In [29]:
def query2():
    """ query  from table """
    conn = None
    try:
        
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")
        cur = conn.cursor()
        cur.execute("select stg_zillow_ind.stg_indicator_id,stg_zillow_ind.stg_indicator, category.category_id from stg_zillow_ind inner join category on stg_zillow_ind.stg_category = category.category_name;")
        rows = cur.fetchall()
        print("The number of parts: ", cur.rowcount)
        return(rows)
        for row in rows:
            print(row)
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

            
if __name__ == '__main__':
    query2()

Database opened successfully
The number of parts:  56